{
  "openapi": "3.0.0",
  "info": {
    "title": "MeetRoom API",
    "description": "GrooveSoft 회의실 예약 시스템 API 명세서",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.groovesoft-meeting.com",
      "description": "운영 서버"
    },
    {
      "url": "http://localhost:3000/api",
      "description": "개발 서버 (Mock)"
    }
  ],
  "paths": {
    "/auth/login": {
      "post": {
        "summary": "로그인",
        "description": "이메일과 패스워드로 로그인하여 JWT 토큰을 발급받습니다.",
        "tags": ["Authentication"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": { "type": "string", "example": "user@groovesoft.co.kr" },
                  "password": { "type": "string", "example": "password123" },
                  "organizationCode": { "type": "string", "example": "GS2024" }
                },
                "required": ["email", "password", "organizationCode"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "로그인 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          }
        }
      }
    },
    "/users/me": {
      "get": {
        "summary": "현재 사용자 정보 조회",
        "tags": ["Users"],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "사용자 정보 수정",
        "tags": ["Users"],
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUserRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "업데이트 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        }
      }
    },
    "/rooms": {
      "get": {
        "summary": "회의실 목록 조회",
        "tags": ["Rooms"],
        "parameters": [
          { "name": "floor", "in": "query", "schema": { "type": "integer" } },
          { "name": "capacity", "in": "query", "schema": { "type": "integer" } },
          { "name": "equipment", "in": "query", "schema": { "type": "string" }, "description": "쉼표로 구분된 장비 목록" }
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/MeetingRoom" }
                }
              }
            }
          }
        }
      }
    },
    "/rooms/{roomId}": {
      "get": {
        "summary": "회의실 상세 조회",
        "tags": ["Rooms"],
        "parameters": [
          { "name": "roomId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MeetingRoom" }
              }
            }
          }
        }
      },
      "get": {
        "summary": "회의실 예약 현황 조회 (특정 날짜)",
        "tags": ["Rooms"],
        "parameters": [
          { "name": "roomId", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "date", "in": "query", "required": true, "schema": { "type": "string", "format": "date" } }
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MeetingRoomAvailability" }
              }
            }
          }
        }
      }
    },
    "/reservations": {
      "get": {
        "summary": "예약 목록 조회",
        "tags": ["Reservations"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "startDate", "in": "query", "required": true, "schema": { "type": "string", "format": "date" } },
          { "name": "endDate", "in": "query", "required": true, "schema": { "type": "string", "format": "date" } },
          { "name": "roomId", "in": "query", "schema": { "type": "string" } },
          { "name": "userId", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Reservation" }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "예약 생성",
        "tags": ["Reservations"],
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateReservationRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "생성 성공",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Reservation" }
              }
            }
          }
        }
      }
    },
    "/reservations/{id}": {
      "get": {
        "summary": "예약 상세 조회",
        "tags": ["Reservations"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Reservation" }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "예약 수정 (부분)",
        "tags": ["Reservations"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateReservationRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "업데이트 성공",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Reservation" }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "예약 삭제",
        "tags": ["Reservations"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "204": { "description": "삭제 성공" }
        }
      }
    },
    "/notifications": {
      "get": {
        "summary": "알림 목록 조회",
        "tags": ["Notifications"],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Notification" }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "알림 전체 삭제",
        "tags": ["Notifications"],
        "security": [{ "bearerAuth": [] }],
        "responses": { "204": { "description": "삭제 성공" } }
      }
    },
    "/notifications/unread": {
      "get": {
        "summary": "읽지 않은 알림 조회",
        "tags": ["Notifications"],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Notification" }
                }
              }
            }
          }
        }
      }
    },
    "/notifications/recent": {
      "get": {
        "summary": "최근 알림 조회",
        "tags": ["Notifications"],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Notification" }
                }
              }
            }
          }
        }
      }
    },
    "/notifications/{id}/read": {
      "patch": {
        "summary": "알림 읽음 처리",
        "tags": ["Notifications"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "성공" } }
      }
    },
    "/notifications/{id}": {
      "delete": {
        "summary": "알림 삭제",
        "tags": ["Notifications"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": { "204": { "description": "삭제 성공" } }
      }
    },
    "/notices": {
      "get": {
        "summary": "공지사항 목록 조회",
        "tags": ["Notices"],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Notice" }
                }
              }
            }
          }
        }
      }
    },
    "/notices/{id}": {
      "get": {
        "summary": "공지사항 상세 조회",
        "tags": ["Notices"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Notice" }
              }
            }
          }
        }
      }
    },
    "/organization/departments": {
      "get": {
        "summary": "부서 목록 조회",
        "tags": ["Organization"],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Department" }
                }
              }
            }
          }
        }
      }
    },
    "/organization/departments/{departmentId}/members": {
      "get": {
        "summary": "특정 부서의 조직원 조회",
        "tags": ["Organization"],
        "parameters": [
          { "name": "departmentId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "members": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/OrganizationMember" }
                    },
                    "subDepartments": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Department" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/organization/members/search": {
      "get": {
        "summary": "조직원 검색",
        "tags": ["Organization"],
        "parameters": [
          { "name": "q", "in": "query", "required": true, "schema": { "type": "string" }, "description": "이름/이메일/부서명" }
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/OrganizationMember" }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "User": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "email": { "type": "string", "format": "email" },
          "department": { "type": "string" },
          "position": { "type": "string" },
          "preferences": { "$ref": "#/components/schemas/UserPreferences" }
        }
      },
      "UpdateUserRequest": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "phone": { "type": "string" },
          "preferences": { "$ref": "#/components/schemas/UserPreferences" }
        }
      },
      "LoginResponse": {
        "type": "object",
        "properties": {
          "token": { "type": "string" },
          "user": { "$ref": "#/components/schemas/User" }
        }
      },
      "MeetingRoom": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "capacity": { "type": "integer" },
          "floor": { "type": "integer" },
          "equipment": { "type": "array", "items": { "type": "string" } },
          "status": { "type": "string", "enum": ["available", "occupied", "disabled"] }
        }
      },
      "MeetingRoomAvailability": {
        "type": "object",
        "properties": {
          "roomId": { "type": "string" },
          "date": { "type": "string", "format": "date" },
          "reservations": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Reservation" }
          }
        }
      },
      "Notification": {
        "type": "object",
        "properties": {
          "type": { "type": "string" },
          "data": {
            "type": "object",
            "properties": {
              "id": { "type": "string" },
              "title": { "type": "string" },
              "message": { "type": "string" },
              "timestamp": { "type": "string", "format": "date-time" },
              "userId": { "type": "string" },
              "reservationId": { "type": "string" },
              "noticeId": { "type": "string" },
              "attendeeId": { "type": "string" },
              "canRespond": { "type": "boolean" }
            }
          }
        }
      },
      "Notice": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "title": { "type": "string" },
          "content": { "type": "string" },
          "author": { "type": "string" },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" },
          "priority": { "type": "string", "enum": ["urgent", "normal", "info"] },
          "attachments": { "type": "array", "items": { "type": "string" } },
          "views": { "type": "integer" }
        }
      },
      "Reservation": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "roomId": { "type": "string" },
          "userId": { "type": "string" },
          "userName": { "type": "string" },
          "title": { "type": "string" },
          "description": { "type": "string" },
          "startTime": { "type": "string", "format": "date-time" },
          "endTime": { "type": "string", "format": "date-time" },
          "attendees": { "type": "array", "items": { "$ref": "#/components/schemas/Attendee" } },
          "status": { "type": "string", "enum": ["confirmed", "cancelled", "completed"] },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" }
        }
      },
      "CreateReservationRequest": {
        "type": "object",
        "required": ["roomId", "title", "startTime", "endTime"],
        "properties": {
          "roomId": { "type": "string" },
          "title": { "type": "string" },
          "description": { "type": "string" },
          "startTime": { "type": "string", "format": "date-time" },
          "endTime": { "type": "string", "format": "date-time" },
          "attendees": { "type": "array", "items": { "$ref": "#/components/schemas/CreateAttendeeRequest" } }
        }
      },
      "UpdateReservationRequest": {
        "type": "object",
        "properties": {
          "title": { "type": "string" },
          "description": { "type": "string" },
          "startTime": { "type": "string", "format": "date-time" },
          "endTime": { "type": "string", "format": "date-time" },
          "attendees": { "type": "array", "items": { "$ref": "#/components/schemas/CreateAttendeeRequest" } },
          "status": { "type": "string", "enum": ["confirmed", "cancelled", "completed"] }
        }
      },
      "Attendee": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "email": { "type": "string", "format": "email" },
          "status": { "type": "string", "enum": ["accepted", "declined"] }
        }
      },
      "CreateAttendeeRequest": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "email": { "type": "string", "format": "email" }
        }
      },
      "UserPreferences": {
        "type": "object",
        "properties": {
          "theme": {
            "type": "object",
            "properties": {
              "mode": { "type": "string", "enum": ["light", "dark", "system"] }
            }
          },
          "favoriteRoomIds": {
            "type": "array",
            "items": { "type": "string" }
          },
          "reservationTemplates": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "templateName": { "type": "string" },
                "title": { "type": "string" },
                "description": { "type": "string" },
                "attendees": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "email": { "type": "string", "format": "email" },
                      "name": { "type": "string" }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "Department": {
        "type": "object",
        "properties": {
          "code": { "type": "string" },
          "name": { "type": "string" },
          "parent": { "type": "string", "nullable": true },
          "hasChild": { "type": "string" }
        }
      },
      "OrganizationMember": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "email": { "type": "string", "format": "email" },
          "position": { "type": "string" },
          "departmentId": { "type": "string" },
          "departmentName": { "type": "string" }
        }
      },
      "OrganizationTreeNode": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "type": { "type": "string", "enum": ["department", "person"] },
          "parentId": { "type": "string" },
          "level": { "type": "integer" },
          "position": { "type": "string" },
          "email": { "type": "string", "format": "email" },
          "memberCount": { "type": "integer" },
          "hasChildren": { "type": "boolean" },
          "children": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/OrganizationTreeNode" }
          }
        }
      }
    }
  }
} 
